<script lang="ts">
	import { onMount, setContext } from 'svelte';
	import { writable } from 'svelte/store';
	import type { LayoutData } from './$types';
	import NavBar from '$lib/components/NavBar.svelte';
	import {
		get_auth_token,
		get_refresh_token,
		set_auth_token,
		set_persistent_storage_flag,
		set_refresh_token
	} from '$lib/repo';

	export let data: LayoutData;

	const user_auth_token = writable(data.auth_token);
	user_auth_token.subscribe((value) => {
		data.auth_token = value;
	});

	setContext('setAuthToken', (token: string | null) => {
		set_auth_token(token);
		user_auth_token.set(token);
	});

	const user_refresh_token = writable(data.refresh_token);
	user_refresh_token.subscribe((value) => {
		data.refresh_token = value;
	});

	setContext('setRefreshToken', (token: string | null) => {
		set_refresh_token(token);
		user_refresh_token.set(token);
	});

	setContext('setPersistentStatus', (value: boolean) => {
		set_persistent_storage_flag(value);
		data.persistent_storage = value;
	});

	onMount(() => {
		// different queue ensures sync code is done before we update at the earliest free point
		setTimeout(() => {
			data.auth_token = get_auth_token();
			data.refresh_token = get_refresh_token();
		});
	});
</script>

<svelte:head>
	<title>SCP-Prototype</title>
</svelte:head>

<div>
	<NavBar token={data.auth_token} />
	<slot />
</div>

<style>
	div {
		padding: 10em;
		padding-bottom: 2em;
		padding-top: 0;
	}
</style>
