<script lang="ts">
	import { afterNavigate } from '$app/navigation';
	import ObjectDetails from '$lib/components/ObjectDetails.svelte';
	import type { PageData } from './$types';

	let previousPage: string = '/objects';

	afterNavigate(({ from }) => {
		previousPage = from ? from.url.toString() : previousPage;
	});

	export let data: PageData;
</script>

<a href={previousPage}>&lt;== Back to directory </a>
<ObjectDetails object={data.response} />
