<script lang="ts">
	import { goto } from '$app/navigation';
	import { PUBLIC_API_URL } from '$env/static/public';
	import { getContext, setContext } from 'svelte';

	let error: string | undefined;
	interface AuthResponse {
		refresh_token: string;
		auth_token: string;
		username: string;
		uuid: string;
	}
	const setAuthToken: (token: string) => void = getContext('setAuthToken');
	const setRefreshToken: (token: string) => void = getContext('setRefreshToken');
	const setPersistentStatus: (persistent: boolean) => void = getContext('setPersistentStatus');

	export let loading: boolean = false;
	let persisent: boolean = false;
	export let errorMessage: string = 'Invalid Credentials';
	export let handleSubmit: (e: any) => Promise<void> = async (e: any) => {
		loading = true;
		const data = new FormData(e.target);

		let response = await fetch(`${PUBLIC_API_URL}/users/login`, {
			method: 'POST',
			body: JSON.stringify({ username: data.get('username'), password: data.get('password') }),
			headers: {
				'Content-Type': 'application/json'
			}
		});

		if (response.status !== 200) {
			error = errorMessage;
			loading = false;
		} else {
			let data: AuthResponse = await response.json();

			setPersistentStatus(persisent);

			setAuthToken(data.auth_token);
			setRefreshToken(data.refresh_token);

			goto('/');
		}
	};
</script>

<form on:submit|preventDefault={handleSubmit}>
	<label for="username">Username</label>
	<input type="text" name="username" required disabled={loading} />
	<label for="password">Password</label>
	<input type="password" name="password" required disabled={loading} />
	<button disabled={loading}>Login</button>
	<label for="persistent"
		><input bind:checked={persisent} type="checkbox" name="persistent" /> Remember me
	</label>
	{#if error}
		<p>{error}</p>
	{/if}
</form>

<style>
	p {
		color: red;
	}

	form {
		max-width: 15em;
		padding-top: 2em;
		margin: auto;
	}
</style>
