<script lang="ts">
	import { goto } from '$app/navigation';
	import { PUBLIC_API_URL } from '$env/static/public';
	import { authorizedFetch } from '$lib/fetch';
	import { get_refresh_token } from '$lib/repo';
	import { getContext } from 'svelte';

	export let token: string | null | undefined;

	let auth_token: (token: string | null) => void = getContext('setAuthToken');
	let refresh_token: (token: string | null) => void = getContext('setRefreshToken');

	const handleLogout = async () => {
		let response = await authorizedFetch(`${PUBLIC_API_URL}/users/logout`, {
			body: JSON.stringify({ refresh_token: get_refresh_token() })
		});
		if (response.ok) {
			auth_token(null);
			refresh_token(null);
			goto('/', { invalidateAll: true });
		}
	};
</script>

<nav>
	<li>
		<a href="/">home</a>
		{#if token === undefined}
			<a href="/" class="disabled" aria-disabled>████</a>
		{:else if !token}
			<a href="/login">login</a>
		{:else}
			<a href="/logout" on:click|preventDefault={handleLogout}>logout</a>
		{/if}
	</li>
</nav>

<style>
	a.disabled {
		pointer-events: none;
	}
</style>
