<script lang="ts">
	import type { ListObject } from '$lib/types';

	export let items_per_page: number;
	export let object_list: ListObject[] | null;
</script>

<ul>
	<li>
		<span>Title</span>
		<span>Class</span>
		<span>Series</span>
	</li>
	{#if !object_list}
		{#each Array(items_per_page) as _}
			<li>
				<a href="/objects" class="disabled">SCP-███████</a>
				<span class="class">███████████</span>
				<span>███████████</span>
			</li>
		{/each}
	{:else}
		{#each object_list as object}
			<li>
				<a href="/objects/{object.uuid}">{object.title}</a>
				<span class="class">{object.class}</span>
				<span>{object.series}</span>
			</li>
		{/each}
	{/if}
</ul>

<style>
	ul {
		border: 2px solid var(--h1-color);
		padding: 0;
		margin-bottom: 10px;
	}
	li:first-child {
		background-color: #29353e;
		margin-bottom: 0;
		font-style: italic;
		color: rgb(141, 141, 141);
		border-bottom: 1px solid;
	}
	li {
		display: grid;
		grid-template-columns: 4fr 2fr 1fr;
		grid-template-rows: 1fr;
		gap: 0px 0px;
		grid-template-areas: '. . .';
	}
	li:nth-child(2n + 1) {
		background-color: #1b2831;
	}
	li:last-child {
		margin-bottom: 0;
	}

	a.disabled {
		pointer-events: none;
	}
</style>
