<script lang="ts">
	import type { ObjectDetails } from '$lib/types';

	export let object: ObjectDetails | undefined;

	function handleClick(ev: Event) {
		let target: HTMLElement = ev.target as HTMLElement;
		const collapsibleBlockLink = target.closest(
			'.collapsible-block-link, .collapsible-block-unfolded-link'
		);

		if (!collapsibleBlockLink) {
			return;
		}

		ev.preventDefault();

		const collapsibleBlock = collapsibleBlockLink.closest('div.collapsible-block') as HTMLElement;
		const folded = collapsibleBlock.querySelector('.collapsible-block-folded') as HTMLElement;
		const unfolded = collapsibleBlock.querySelector('.collapsible-block-unfolded') as HTMLElement;

		if (unfolded?.style.getPropertyValue('display') === 'none') {
			// show unfolded and hide folded
			unfolded?.style.setProperty('display', 'block');
			folded?.style.setProperty('display', 'none');
		} else {
			// show folded and hide unfolded
			folded?.style.setProperty('display', 'block');
			unfolded?.style.setProperty('display', 'none');
		}
	}
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
<article on:click|preventDefault={handleClick}>
	{#if !object}
		<h1>SCP-███████</h1>
		<p>Loading</p>
	{:else}
		<h1>{object.title}</h1>
		{@html object.content_html}
	{/if}
</article>
