<script lang="ts">
	import { qs_builder } from '$lib/qs';

	export let page: number = 1;
	export let items_per_page: number = 25;
	export let total_pages: number;
</script>

<nav>
	<ul>
		{#if total_pages <= 20}
			{#each Array(total_pages) as _, i}
				<li class={page === i + 1 ? 'disabled current-page' : ''}>
					<a
						data-sveltekit-noscroll
						href="/objects?{qs_builder(window.location.href, i + 1, items_per_page)}">{i + 1}</a
					>
				</li>
			{/each}
		{:else if page < 13}
			{#each Array(13) as _, i}
				<li class={page === i + 1 ? 'disabled current-page' : ''}>
					<a
						data-sveltekit-noscroll
						href="/objects?{qs_builder(window.location.href, i + 1, items_per_page)}">{i + 1}</a
					>
				</li>
			{/each}
			<li>...</li>
			{#each Array(7) as _, i}
				<li>
					<a
						data-sveltekit-noscroll
						href="/objects?{qs_builder(
							window.location.href,
							total_pages - 7 + i + 1,
							items_per_page
						)}">{total_pages - 7 + i + 1}</a
					>
				</li>
			{/each}
		{:else if total_pages - page < 13}
			{#each Array(7) as _, i}
				<li>
					<a
						data-sveltekit-noscroll
						href="/objects?{qs_builder(window.location.href, i + 1, items_per_page)}">{i + 1}</a
					>
				</li>
			{/each}
			<li>...</li>
			{#each Array(7) as _, i}
				<li class={page === total_pages - 7 + i + 1 ? 'disabled current-page' : ''}>
					<a
						data-sveltekit-noscroll
						href="/objects?{qs_builder(
							window.location.href,
							total_pages - 7 + i + 1,
							items_per_page
						)}">{total_pages - 7 + i + 1}</a
					>
				</li>
			{/each}
		{:else}
			<li>
				<a
					data-sveltekit-noscroll
					href="/objects?{qs_builder(window.location.href, 1, items_per_page)}">1</a
				>
			</li>
			<li>...</li>
			{#each Array(18) as _, i}
				<li class={page === page - 9 + i + 1 ? 'disabled current-page' : ''}>
					<a
						data-sveltekit-noscroll
						href="/objects?{qs_builder(window.location.href, page - 9 + i + 1, items_per_page)}"
						>{page - 9 + i + 1}</a
					>
				</li>
			{/each}
			<li>...</li>
			<li>
				<a
					data-sveltekit-noscroll
					href="/objects?{qs_builder(window.location.href, total_pages, items_per_page)}"
					>{total_pages}</a
				>
			</li>
		{/if}
	</ul>
</nav>

<style>
	li.current-page {
		background-color: rgb(59, 59, 59);
		padding: 5px;
	}

	li.current-page a {
		color: rgb(187, 198, 206);
		pointer-events: none;
	}

	nav ul {
		width: 100%;
		justify-content: center;
	}
</style>
