<script lang="ts">
	import type { PageData } from './$types';
	import PaginationNav from '$lib/components/PaginationNav.svelte';
	import ObjectList from '$lib/components/ObjectList.svelte';

	export let data: PageData;
</script>

<h1>Object Directory</h1>

<ObjectList items_per_page={data.items_per_page} object_list={data.request.objects} />
{#await data.request then response}
	<PaginationNav
		page={response.pagination.page}
		total_pages={response.pagination.total_pages}
		items_per_page={response.pagination.items_per_page}
	/>
{/await}
